.popup__input-container {
  display: flex;
  flex-direction: column;
  margin: 54px auto 0;
  width: 100%;
  gap: 30px;
  padding: 0;
  border: none;
}

@media all and (max-width: 1023px) {
  .popup__input-container {
    margin: 75px auto 0;
  }
}
