.popup__container {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  background-color: white;
  grid-area: popup__container;
  padding: 42px 36px 31px;
}

@media all and (max-width: 1023px) {
  .popup__container {
    padding: 25px 22px 25px;
  }
}
