.profile {
  max-width: 880px;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  column-gap: 30px;
  align-items: center;
}

@media all and (max-width: 1023px) {
  .profile {
    max-width: 282px;
    margin: 42px auto 0;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr;
    justify-items: center;
  }
}
