/*vendor*/
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

/*корневой блок page*/
@import url(../blocks/page/page.css);

/*общие блоки и элементы*/
@import url(../blocks/add-button/add-button.css);
@import url(../blocks/edit-button/edit-button.css);
@import url(../blocks/favorite-button/favorite-button.css);

/*секции*/
/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/header/__logo/header__logo.css);

/*content*/
@import url(../blocks/content/content.css);

/*profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__title/profile__title.css);

/*cards*/
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__title/card__title.css);
